@import 'config';

$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

body{
    background-color: $LightGrayishBlue;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;

    .main-container{        
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop{
        display: none;
    }

    .container{
        width: 80%;
        max-width: 400px;
        color: $DesaturatedDarkBlue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4rem auto;
        border-radius: 10px;
        overflow: hidden;
        background: white;

        &_image{
            img{
                width: 100%;
            }
        }
        
        &_text{
            .main-texts{
                padding: 1.5rem;
                h1{
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: .7rem;
                    color: $VeryDarkGrayishBlue;
                }
                p{
                    font-size: .77rem;
                }
            }

            .zero-opaque{
                opacity: 0;
            }

            .links{
                position: relative;
                .share-button{
                    cursor: pointer;
                    background-color: $LightGrayishBlue;
                    padding: 3px 7px;
                    border-radius: 50%;
                    svg{
                        fill: white;
                    }
                }
                .profile{                    
                    padding: .8rem 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: all ease-in-out 1s;
                    height: 66px;
                    opacity: 1;

                    &-cont{
                        display: flex;
                        align-items: center;
                        
                        .image_cont{
                            width: 35px;
                            img{
                                width: 100%;
                                border-radius: 50%;
                            }
                        }

                        .text_cont{
                            margin-left: .5rem;
                            h4{
                                color: $VeryDarkGrayishBlue;
                                font-size: .8rem;
                                font-weight: 700;
                            }
                            p{
                                font-size: .7rem;
                            }
                        }
                    }
                    .share-button svg{
                        fill: $VeryDarkGrayishBlue;
                    }
                }
                .share{                
                    transition: all ease-in-out 1s;
                    display: none;
                    background-color: $VeryDarkGrayishBlue;
                    padding: .8rem 1.5rem;
                    justify-content: space-between;
                    align-items: center;
                    opacity: 1;
                    height: 66px;

                    &-links{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span{
                            margin-right: 15px;
                        }
                        a{
                            margin-right: 12px;
                            svg{
                                transform: scale(.9);
                            }
                        }
                    }
                    .share-button {
                        background-color: $DesaturatedDarkBlue;
                        svg{
                            fill: white;
                        }      
                    }            
                }
            }
        }
    }

    .attribution{
        // position: absolute;
        // bottom: .5rem;
        margin: 1rem;
        color: $GrayishBlue;
        a{
            color: $DesaturatedDarkBlue;
            &:hover{
                color: $VeryDarkGrayishBlue;
            }
            &.BlessTheBoy{
                svg{
                    fill: $DesaturatedDarkBlue;
                    width: 60px;
                    margin: 0px auto;
                    margin-bottom: -5px;
                    &:hover{
                        fill: $VeryDarkGrayishBlue;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 750px) {
        .desktop{
            display: none;
            position: absolute;
        }
        .container{
            flex-direction: row;
            max-width: 750px;            
            padding: 0;
            position: relative;
            overflow: visible;
            &_image{
                height: 240px;
                min-width: 200px;
                flex-basis: 60%;
                margin: 0;
                padding: 0;
                background-image: url('../images/drawers.jpg');
                background-size: cover;
                img{
                    height: 100%;
                    display: none;
                }
            }
            &_text{
                padding-right: 1rem;
                .links{
                    position: relative;
                    .profile{
                        #share{
                            position: relative;
                            .desktop{
                                position: absolute;
                                bottom: 140%;
                                left: 0;
                                transform: translateX(calc(-50% + 10px));
                                height: initial;
                                padding: .5rem 1rem;
                                border-radius: 5px;
                                &::after{
                                    content: "";
                                    width: 0;
                                    height: 0;
                                    border-left: 5px solid transparent;
                                    border-right: 5px solid transparent;
                                    border-top: 10px solid $VeryDarkGrayishBlue;
                                    position: absolute;
                                    top: 100%;
                                    left: 50%;
                                }
                                .share-links{
                                    span{
                                        cursor: initial;
                                    }
                                }
                            }
                        }
                    }
                    .share{
                        display: none;
                    }
                }
            }
        }
    }
}